firstapp/src/main/mule/firstapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0559ba3c-ccdd-4061-b385-fccda8be9362">
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f8ae85c8-1f37-4c47-9918-9bfe546e2eeb" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="world" />
	</db:config>
	<flow name="firstappFlow" doc:id="84c83e71-e687-4806-a2e4-df10bc16450e" >
		<http:listener doc:name="Listener" doc:id="e7dd23e8-24ca-4ec0-915e-7472bd1056d6" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7b83a47-9ba1-4a4a-8e22-d4cd4313443b" message='#["Flow started .."]'/>
		<db:select doc:name="Select" doc:id="f45098ef-6579-4061-adf1-2c8e4c0e6052" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from city]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="38857cac-b721-4d42-a237-944ff46376b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e7fbb0b3-43d6-42fa-9930-f8f9d42ff7ec" message='#["Ended of Flow"]'/>
	</flow>

	
	
	
	
	
	</mule>
